AWSTemplateFormatVersion: '2010-09-09'
Description: ENPM818N - Services (ALB + ASGs) for Microservices Demo (fixed Fn::Sub issues v2)

Parameters:
  StackNamePrefix:
    Type: String
    Default: enpm818n
  CustomAmiId:
    Type: AWS::EC2::Image::Id
    Description: "AMI ID to use for EC2 instances"
  KeyPairName:
    Type: AWS::EC2::KeyPair::KeyName
    Description: EC2 KeyPair (required)
    Default: "enpm818n-key-pair"
  InstanceType:
    Type: String
    Default: t3.micro
  DesiredCapacity:
    Type: Number
    Default: 1
  MaxCapacity:
    Type: Number
    Default: 3
  DBName:
    Type: String
    Default: ecommerce_1
  DBUsername:
    Type: String
    Default: appuser
  # TODO: Make these configurable in deploy-all.sh
  DomainName:
    Type: String
    Description: Domain Name from Route 53
    Default: "carl-aws.com"
  HostedZoneId:
    Type: String
    Description: Hosted Zone ID from Route 53
    Default: "Z07334946X0IAB2Z3DDY"
  NotificationEmail:
    Type: String
    Description: Email address to receive Alarm notifications
    Default: "ccappell@umd.edu"
  # Required at runtime
  DBEndpoint:
    Type: String
  CFEndpoint:
    Type: String
  AcmCertificateArn:
    Type: String

Resources:

  #################################################
  # Application and Load Balancer Security Groups #
  #################################################
  # TODO: Refine this to ONLY what's necessary

  # Application
  AppSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Allow traffic from ALB and to RDS
      VpcId:
        Fn::ImportValue: !Sub '${StackNamePrefix}-VpcId'
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          SourceSecurityGroupId: !Ref AlbSecurityGroup
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          SourceSecurityGroupId: !Ref AlbSecurityGroup
        - IpProtocol: tcp  # TODO: Delete this
          FromPort: 22
          ToPort: 22
          CidrIp: 0.0.0.0/0
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
      Tags: [{ Key: Name, Value: !Sub '${StackNamePrefix}-App-SG' }]

  # Load Balancer
  AlbSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: ALB internet access
      VpcId:
        Fn::ImportValue: !Sub '${StackNamePrefix}-VpcId'
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
      Tags: [{ Key: Name, Value: !Sub '${StackNamePrefix}-ALB-SG' }]

  # Egress to Database
  AppEgressToDB:
    Type: AWS::EC2::SecurityGroupEgress
    Properties:
      GroupId: !Ref AppSecurityGroup
      IpProtocol: tcp
      FromPort: 3306
      ToPort: 3306
      DestinationSecurityGroupId:
        Fn::ImportValue: !Sub '${StackNamePrefix}-DBSecurityGroupId'

  ########################################################
  # Load Balancer Configuration, Target Group, Listeners #
  ########################################################
  # Application Load Balancer
  Alb:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      Name: !Sub '${StackNamePrefix}-ALB'
      Scheme: internet-facing
      Subnets:
        Fn::Split:
          - ','
          - Fn::ImportValue: !Sub '${StackNamePrefix}-PublicSubnetIds'
      SecurityGroups: [!Ref AlbSecurityGroup]

  AlbRecordSet:
    Type: AWS::Route53::RecordSet
    Properties:
      # Must end with a dot
      Name: !Sub '${DomainName}.'
      HostedZoneId: !Sub '${HostedZoneId}' 
      Type: A  # IPv4 record
      AliasTarget:
        DNSName: !GetAtt Alb.DNSName
        HostedZoneId: !GetAtt Alb.CanonicalHostedZoneID
        EvaluateTargetHealth: false

  # Target Group - Uses Port 80, securely behind a private subnet
  FrontendTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      VpcId:
        Fn::ImportValue: !Sub '${StackNamePrefix}-VpcId'
      Port: 80
      Protocol: HTTP
      TargetType: instance
      HealthCheckPath: /health
      Matcher: { HttpCode: '200-399' }

  # HTTPS and HTTP Listeners
  HTTPSListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      LoadBalancerArn: !Ref Alb
      Port: 443
      Protocol: HTTPS
      Certificates:
        - CertificateArn: !Ref AcmCertificateArn
      SslPolicy: ELBSecurityPolicy-TLS13-1-2-2021-06
      DefaultActions:
        - Type: forward
          TargetGroupArn: !Ref FrontendTargetGroup

  # Why still listen on 80? Good security practice to catch and force HTTPS
  HTTPRedirectListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      LoadBalancerArn: !Ref Alb
      Port: 80
      Protocol: HTTP
      DefaultActions:
        - Type: redirect
          RedirectConfig:
            Protocol: HTTPS
            Port: "443"
            StatusCode: "HTTP_301"

  ######################################
  # IAM Role (SSM and Secrets Manager) #
  ######################################
  RoleInstance:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal: { Service: ec2.amazonaws.com }
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore
      Policies:
        - PolicyName: ReadDBSecret
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Sub "arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${StackNamePrefix}-db-credentials-*"
      Tags: [{ Key: Name, Value: !Sub '${StackNamePrefix}-EC2Role' }]

  ProfileInstance:
    Type: AWS::IAM::InstanceProfile
    Properties:
      Roles: [!Ref RoleInstance]


  ############################
  # Frontend Launch Template #
  ############################
  LaunchTemplateFrontend:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: !Sub '${StackNamePrefix}-lt-frontend'
      LaunchTemplateData:
        IamInstanceProfile: { Arn: !GetAtt ProfileInstance.Arn }
        KeyName: !Ref KeyPairName
        ImageId: !Ref CustomAmiId
        InstanceType: !Ref InstanceType
        SecurityGroupIds: [!Ref AppSecurityGroup]
        UserData:
          Fn::Base64: !Sub |
            #!/bin/bash
            set -euo pipefail
            # TODO: Move this to the image builder
            sudo apt update -y
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "/tmp/awscliv2.zip"
            sudo apt install unzip
            unzip /tmp/awscliv2.zip -d /tmp
            sudo /tmp/aws/install

            export CF_URL='${CFEndpoint}'
            export DB_ENDPOINT='${DBEndpoint}'
            export DB_USER='${DBUsername}'
            export DB_NAME='${DBName}'
            # TODO: Put this on multiple lines
            export DB_PASS=$(aws secretsmanager get-secret-value --secret-id enpm818n-db-credentials --region us-east-1 --query SecretString --output text | jq -r '.password')

            wget -P /var/www/html/includes https://truststore.pki.rds.amazonaws.com/global/global-bundle.pem
            
            # Set up connect.php
            cat <<EOF > /var/www/html/includes/connect.php
            <?php
            \$db_host = "$DB_ENDPOINT";
            \$db_user = "$DB_USER";
            \$db_name = "$DB_NAME";
            \$db_pass = "$DB_PASS";
            \$ssl_ca_path = '/var/www/html/includes/global-bundle.pem';
            \$con = mysqli_init();
            if (!\$con) {
                die(mysqli_error(\$con));
            }
            \$con->ssl_set(NULL, NULL, \$ssl_ca_path, NULL, NULL);
            \$con->options(MYSQLI_OPT_SSL_VERIFY_SERVER_CERT, true);
            if (!\$con->real_connect(\$db_host, \$db_user, \$db_pass, \$db_name)) {
              die(mysqli_error(\$con));
            }
            ?>
            EOF

            # Initialize DB if empty
            # TODO: Put these two commands on multiple lines
            # TODO: Move to AWS Lambda
            TABLE_EXISTS=$(mysql -h $DB_ENDPOINT -u $DB_USER -p"$DB_PASS" --ssl-ca=global-bundle.pem --ssl-verify-server-cert -N -s -e "SELECT COUNT(*) FROM information_schema.tables WHERE table_schema='ecommerce_1' AND table_name='card_details';")
            if [ "$TABLE_EXISTS" -eq 0 ]; then
              echo "Initializing database."
              mysql -h $DB_ENDPOINT -u $DB_USER -p"$DB_PASS" --ssl-ca=global-bundle.pem --ssl-verify-server-cert ecommerce_1 < /var/www/html/Database/ecommerce_1.sql
            else
              echo "Table already exists, skipping initialization."
            fi

            # Tell Apache to redirect static files to CloudFront
            sudo a2enmod rewrite
            APACHE_CONF="/etc/apache2/sites-available/000-default.conf"
            LAST_LINE=$(wc -l < "$APACHE_CONF")
            INSERT_LINE=$((LAST_LINE))
            sudo sed -i "$INSERT_LINE i \\
                    RewriteRule ^/(.*)$ https://$CF_URL/\\\$1 [R=302,L]" "$APACHE_CONF"
            sudo sed -i "$INSERT_LINE i \\
                    RewriteCond %{REQUEST_URI} \\\.(png|jpg|jpeg|js|css)$ [NC]" "$APACHE_CONF"
            sudo sed -i "$INSERT_LINE i \\
                    RewriteEngine On" "$APACHE_CONF"

            sudo systemctl restart apache2

  ############################
  # Autoscaling and Policies #
  ############################
  FrontendAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      VPCZoneIdentifier:
        Fn::Split:
          - ','
          - Fn::ImportValue: !Sub '${StackNamePrefix}-AppSubnetIds'
      MinSize: '1'
      DesiredCapacity: !Ref DesiredCapacity
      MaxSize: !Ref MaxCapacity
      TargetGroupARNs: [!Ref FrontendTargetGroup]
      LaunchTemplate:
        LaunchTemplateId: !Ref LaunchTemplateFrontend
        Version: !GetAtt LaunchTemplateFrontend.LatestVersionNumber
      Tags:
        - Key: Name
          Value: !Sub '${StackNamePrefix}-frontend'
          PropagateAtLaunch: true

  ScalePolicy:
    Type: AWS::AutoScaling::ScalingPolicy
    Properties:
      AutoScalingGroupName: !Ref FrontendAutoScalingGroup
      PolicyType: SimpleScaling
      AdjustmentType: ChangeInCapacity
      ScalingAdjustment: 1  # number of instances
      Cooldown: 300  # seconds

  HighCPUAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub '${StackNamePrefix}-cpu'
      AlarmDescription: "Scale out if Average CPU greater than 70 percent"
      Namespace: AWS/EC2
      MetricName: CPUUtilization
      Dimensions:
        - Name: AutoScalingGroupName
          Value: !Ref FrontendAutoScalingGroup
      Statistic: Average
      Period: 60  # seconds
      EvaluationPeriods: 2  # number of checks
      Threshold: 70  # percent
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - !Ref ScalePolicy

  HighTrafficAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub '${StackNamePrefix}-custom'
      AlarmDescription: "Scale out if the number of requests exceeds 100 per target per minute"
      Namespace: AWS/ApplicationELB
      MetricName: RequestCountPerTarget
      Dimensions:
        - Name: TargetGroup
          Value: !GetAtt FrontendTargetGroup.TargetGroupFullName
      Statistic: Sum
      Period: 60  # seconds
      EvaluationPeriods: 1  # number of instances
      Threshold: 100  # number of requests
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - !Ref ScalePolicy

  # TODO: Need a second policy. Memory usage?
  ##################################
  # Web Application Firewall (WAF) #
  ##################################
  WebACL:
    Type: AWS::WAFv2::WebACL
    Properties:
      Name: !Sub '${StackNamePrefix}-WebACL'
      Scope: REGIONAL
      DefaultAction:
        Allow: {}
      VisibilityConfig:
        CloudWatchMetricsEnabled: true
        MetricName: !Sub '${StackNamePrefix}-WebACL'
        SampledRequestsEnabled: true
      Rules:
        # SQL Injection Protection
        - Name: AWSManagedRulesSQLiRuleSet
          Priority: 1
          OverrideAction: { None: {} }
          Statement:
            ManagedRuleGroupStatement:
              VendorName: AWS
              Name: AWSManagedRulesSQLiRuleSet
          VisibilityConfig:
            CloudWatchMetricsEnabled: true
            MetricName: SQLiRules
            SampledRequestsEnabled: true

        # Cross-Site Scripting Protection
        - Name: AWSManagedRulesCommonRuleSet
          Priority: 2
          OverrideAction: { None: {} }
          Statement:
            ManagedRuleGroupStatement:
              VendorName: AWS
              Name: AWSManagedRulesCommonRuleSet
          VisibilityConfig:
            CloudWatchMetricsEnabled: true
            MetricName: CommonRules
            SampledRequestsEnabled: true

        # Rate Limit (Anti-DDoS)
        - Name: RateLimit
          Priority: 3
          Action:
            Block: {}
          Statement:
            RateBasedStatement:
              Limit: 1000
              AggregateKeyType: IP
          VisibilityConfig:
            CloudWatchMetricsEnabled: true
            MetricName: RateLimitRule
            SampledRequestsEnabled: true

  # WAF Logging Configuration
  # Name must start with 'aws-waf-logs-' https://docs.aws.amazon.com/waf/latest/developerguide/logging-cw-logs.html
  WafLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub 'aws-waf-logs-${StackNamePrefix}'
      RetentionInDays: 7

  WafLoggingConfiguration:
    Type: AWS::WAFv2::LoggingConfiguration
    Properties:
      ResourceArn: !GetAtt WebACL.Arn
      LogDestinationConfigs:
        - !GetAtt WafLogGroup.Arn
      LoggingFilter:  # Keep only blocked requests
        DefaultBehavior: DROP
        Filters:
          - Behavior: KEEP
            Requirement: MEETS_ANY
            Conditions:
              - ActionCondition:
                  Action: BLOCK

  WebACLAssociation:
    Type: AWS::WAFv2::WebACLAssociation
    Properties:
      ResourceArn: !GetAtt Alb.LoadBalancerArn
      WebACLArn: !GetAtt WebACL.Arn

  ###########################
  # Alarms and Notification #
  ###########################
  AlarmNotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${StackNamePrefix}-alarm"
      Subscription:
        - Endpoint: !Ref NotificationEmail
          Protocol: email

  LatencyAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub "${StackNamePrefix}-latency"
      AlarmDescription: "ALB Target Response Time greater than 500ms"
      Namespace: AWS/ApplicationELB
      MetricName: TargetResponseTime
      Dimensions:
        - Name: LoadBalancer
          Value: !GetAtt Alb.LoadBalancerFullName
      Statistic: Average
      Period: 60  # seconds
      EvaluationPeriods: 3  # minutes
      Threshold: 0.5  # seconds
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: notBreaching

  ErrorRateAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub "${StackNamePrefix}-errorrates"
      AlarmDescription: "Triggered if 5xx Error Rate greater than one percent"
      ComparisonOperator: GreaterThanThreshold
      EvaluationPeriods: 3
      DatapointsToAlarm: 3
      Threshold: 1  # percent
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref AlarmNotificationTopic
      Metrics:
        - Id: expression1
          Label: "5xx Error Rate"
          Expression: "100 * (metric5xx / metricRequests)"
          ReturnData: true
        - Id: metric5xx
          MetricStat:
            Metric:
              Namespace: AWS/ApplicationELB
              MetricName: HTTPCode_Target_5XX_Count
              Dimensions:
                - Name: LoadBalancer
                  Value: !GetAtt Alb.LoadBalancerFullName
            Period: 60  # seconds
            Stat: Sum
          ReturnData: false
        - Id: metricRequests
          MetricStat:
            Metric:
              Namespace: AWS/ApplicationELB
              MetricName: RequestCount
              Dimensions:
                - Name: LoadBalancer
                  Value: !GetAtt Alb.LoadBalancerFullName
            Period: 60  # seconds
            Stat: Sum
          ReturnData: false

Outputs:
  ALBDNSName:
    Description: Public URL for the app
    Value: !GetAtt Alb.DNSName
  LogGroupArn:
    Value: !GetAtt WafLogGroup.Arn