AWSTemplateFormatVersion: '2010-09-09'
Description: ENPM818N - Services (ALB + ASGs) for Microservices Demo (fixed Fn::Sub issues v2)

Parameters:
  StackNamePrefix:
    Type: String
    Default: enpm818n
  CustomAmiId:
    Type: AWS::EC2::Image::Id
    Description: "AMI ID to use for EC2 instances"
  KeyPairName:
    Type: AWS::EC2::KeyPair::KeyName
    Description: EC2 KeyPair (required)
    Default: "enpm818n-key-pair"
  InstanceType:
    Type: String
    Default: t3.micro
  DesiredCapacity:
    Type: Number
    Default: 1
  MaxCapacity:
    Type: Number
    Default: 3
  DBName:
    Type: String
    Default: ecommerce_1
  DBUsername:
    Type: String
    Default: appuser
  NotificationEmail:
    Type: String
    Description: Email address to receive Alarm notifications
    Default: "ccappell@umd.edu"
  # Required at runtime
  DBEndpoint:
    Type: String
  AcmCertificateArn:
    Type: String

Resources:

  #################################################
  # Application and Load Balancer Security Groups #
  #################################################
  # TODO: Refine this to ONLY what's necessary

  # Application
  AppSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Allow traffic from ALB and to RDS
      VpcId:
        Fn::ImportValue: !Sub '${StackNamePrefix}-VpcId'
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          SourceSecurityGroupId: !Ref AlbSecurityGroup
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          SourceSecurityGroupId: !Ref AlbSecurityGroup
        - IpProtocol: tcp  # TODO: Delete this
          FromPort: 22
          ToPort: 22
          CidrIp: 0.0.0.0/0
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
      Tags: [{ Key: Name, Value: !Sub '${StackNamePrefix}-App-SG' }]

  AppSecurityGroupEgress:
    Type: AWS::EC2::SecurityGroupEgress
    Properties:
      GroupId: !Ref AppSecurityGroup
      IpProtocol: tcp
      FromPort: 6379
      ToPort: 6379
      DestinationSecurityGroupId: !Ref RedisSecurityGroup

  # Load Balancer
  AlbSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: ALB internet access
      VpcId:
        Fn::ImportValue: !Sub '${StackNamePrefix}-VpcId'
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
      Tags: [{ Key: Name, Value: !Sub '${StackNamePrefix}-ALB-SG' }]

  # Egress to Database
  AppEgressToDB:
    Type: AWS::EC2::SecurityGroupEgress
    Properties:
      GroupId: !Ref AppSecurityGroup
      IpProtocol: tcp
      FromPort: 3306
      ToPort: 3306
      DestinationSecurityGroupId:
        Fn::ImportValue: !Sub '${StackNamePrefix}-DBSecurityGroupId'

  ########################################################
  # Load Balancer Configuration, Target Group, Listeners #
  ########################################################
  # Application Load Balancer
  Alb:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      Name: !Sub '${StackNamePrefix}-ALB'
      Scheme: internet-facing
      Subnets:
        Fn::Split:
          - ','
          - Fn::ImportValue: !Sub '${StackNamePrefix}-PublicSubnetIds'
      SecurityGroups: [!Ref AlbSecurityGroup]

  # Target Group - Uses Port 80, securely behind a private subnet
  FrontendTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      Name: !Sub '${StackNamePrefix}-frontend-tg'
      VpcId:
        Fn::ImportValue: !Sub '${StackNamePrefix}-VpcId'
      Port: 80
      Protocol: HTTP
      TargetType: instance
      HealthCheckPath: /health
      Matcher: { HttpCode: '200-399' }

  # HTTPS and HTTP Listeners
  HTTPSListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      LoadBalancerArn: !Ref Alb
      Port: 443
      Protocol: HTTPS
      Certificates:
        - CertificateArn: !Ref AcmCertificateArn
      SslPolicy: ELBSecurityPolicy-TLS13-1-2-2021-06
      DefaultActions:
        - Type: forward
          TargetGroupArn: !Ref FrontendTargetGroup

  HTTPRedirectListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      LoadBalancerArn: !Ref Alb
      Port: 80
      Protocol: HTTP
      DefaultActions:
        - Type: forward
          TargetGroupArn: !Ref FrontendTargetGroup

  ######################################
  # IAM Role (SSM and Secrets Manager) #
  ######################################
  RoleInstance:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal: { Service: ec2.amazonaws.com }
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore
      Policies:
        - PolicyName: ReadDBSecret
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Sub "arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${StackNamePrefix}-db-credentials-*"
      Tags: [{ Key: Name, Value: !Sub '${StackNamePrefix}-EC2Role' }]

  ProfileInstance:
    Type: AWS::IAM::InstanceProfile
    Properties:
      Roles: [!Ref RoleInstance]


  ############################
  # Frontend Launch Template #
  ############################
  LaunchTemplateFrontend:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: !Sub '${StackNamePrefix}-lt-frontend'
      LaunchTemplateData:
        IamInstanceProfile: { Arn: !GetAtt ProfileInstance.Arn }
        KeyName: !Ref KeyPairName
        ImageId: !Ref CustomAmiId
        InstanceType: !Ref InstanceType
        SecurityGroupIds: [!Ref AppSecurityGroup]
        UserData:
          Fn::Base64: !Sub
            - |
              #!/bin/bash
              set -euo pipefail
              git clone https://github.com/ccap30/818N-E_Commerce_Application
              sudo mv 818N-E_Commerce_Application/* /var/www/html

              # TODO: Put in image builder
              sudo apt install -y php-redis
              sudo chown -R www-data:www-data /var/www/html
              sudo chmod -R 755 /var/www/html

              sudo a2enmod headers
              sudo a2enmod remoteip

              cat << 'EOF' | sudo tee /etc/apache2/conf-enabled/fix_ip_issues.conf
              RemoteIPHeader X-Forwarded-For
              RemoteIPInternalProxy 10.0.0.0/16

              SetEnvIf CloudFront-Viewer-Address "^([^:]+)" CLEAN_IP=$1
              RequestHeader set X-Forwarded-For %{CLEAN_IP}e env=CLEAN_IP
              EOF
              # END TODO

              # Redis database for user session management
              sudo su -c "echo session.save_handler = redis >> /etc/php/8.3/apache2/php.ini"
              sudo su -c "echo session.save_path = 'tcp://${RedisCacheCluster.RedisEndpoint.Address}:${RedisCacheCluster.RedisEndpoint.Port}' >> /etc/php/8.3/apache2/php.ini"

              export DB_ENDPOINT='${DBEndpoint}'
              export DB_USER='${DBUsername}'
              export DB_NAME='${DBName}'
              # TODO: Put this on multiple lines
              export DB_PASS=$(aws secretsmanager get-secret-value --secret-id enpm818n-db-credentials --region us-east-1 --query SecretString --output text | jq -r '.password')

              sudo su -c "cat <<EOF > /etc/apache2/conf-enabled/app_env_vars.conf
              SetEnv DB_ENDPOINT $DB_ENDPOINT
              SetEnv DB_NAME $DB_NAME
              SetEnv DB_USER $DB_USER
              SetEnv DB_PASS $DB_PASS
              EOF"

              # Initialize DB if empty
              # TODO: Put these two commands on multiple lines
              # TODO: Move to AWS Lambda
              echo "Checking table"
              TABLE_EXISTS=$(mysql -h $DB_ENDPOINT -u $DB_USER -p"$DB_PASS" --ssl-ca=/etc/ssl/certs/global-bundle.pem --ssl-verify-server-cert -N -s -e "SELECT COUNT(*) FROM information_schema.tables WHERE table_schema='ecommerce_1' AND table_name='card_details';")
              if [ "$TABLE_EXISTS" -eq 0 ]; then
                echo "Creating table..."
                mysql -h $DB_ENDPOINT -u $DB_USER -p"$DB_PASS" --ssl-ca=/etc/ssl/certs/global-bundle.pem --ssl-verify-server-cert ecommerce_1 < /var/www/html/Database/ecommerce_1.sql
              else
                echo "Table exists!"
              fi

              sudo systemctl restart apache2
            - RedisCache: !Ref RedisCacheCluster

  ############################
  # Autoscaling and Policies #
  ############################
  FrontendAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      AutoScalingGroupName: !Sub '${StackNamePrefix}-frontend-asg'
      VPCZoneIdentifier:
        Fn::Split:
          - ','
          - Fn::ImportValue: !Sub '${StackNamePrefix}-AppSubnetIds'
      MinSize: '1'
      DesiredCapacity: !Ref DesiredCapacity
      MaxSize: !Ref MaxCapacity
      TargetGroupARNs: [!Ref FrontendTargetGroup]
      LaunchTemplate:
        LaunchTemplateId: !Ref LaunchTemplateFrontend
        Version: !GetAtt LaunchTemplateFrontend.LatestVersionNumber
      Tags:
        - Key: Name
          Value: !Sub '${StackNamePrefix}-frontend'
          PropagateAtLaunch: true

  ScalePolicy:
    Type: AWS::AutoScaling::ScalingPolicy
    Properties:
      AutoScalingGroupName: !Ref FrontendAutoScalingGroup
      PolicyType: SimpleScaling
      AdjustmentType: ChangeInCapacity
      ScalingAdjustment: 1  # number of instances
      Cooldown: 300  # seconds

  HighCPUAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub '${StackNamePrefix}-cpu'
      AlarmDescription: "Scale out if Average CPU greater than 70 percent"
      Namespace: AWS/EC2
      MetricName: CPUUtilization
      Dimensions:
        - Name: AutoScalingGroupName
          Value: !Ref FrontendAutoScalingGroup
      Statistic: Average
      Period: 60  # seconds
      EvaluationPeriods: 2  # number of checks
      Threshold: 70  # percent
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - !Ref ScalePolicy

  HighTrafficAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub '${StackNamePrefix}-custom'
      AlarmDescription: "Scale out if the number of requests exceeds 100 per target per minute"
      Namespace: AWS/ApplicationELB
      MetricName: RequestCountPerTarget
      Dimensions:
        - Name: TargetGroup
          Value: !GetAtt FrontendTargetGroup.TargetGroupFullName
      Statistic: Sum
      Period: 60  # seconds
      EvaluationPeriods: 1  # number of instances
      Threshold: 100  # number of requests
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - !Ref ScalePolicy

  # TODO: Need a second policy. Memory usage?
  ##################################
  # Web Application Firewall (WAF) #
  ##################################
  WebACL:
    Type: AWS::WAFv2::WebACL
    Properties:
      Name: !Sub '${StackNamePrefix}-WebACL'
      Scope: REGIONAL
      DefaultAction:
        Allow: {}
      VisibilityConfig:
        CloudWatchMetricsEnabled: true
        MetricName: !Sub '${StackNamePrefix}-WebACL'
        SampledRequestsEnabled: true
      Rules:
        # Only US (wouldn't do this for real, only because it's an assignment)
        - Name: Deny-International
          Priority: 0
          Action:
            Block: {}
          Statement:
            NotStatement:
              Statement:
                GeoMatchStatement:
                  CountryCodes:
                    - US
          VisibilityConfig:
            SampledRequestsEnabled: true
            CloudWatchMetricsEnabled: true
            MetricName: Deny-International

        # Rate Limit (Anti-DDoS)
        - Name: RateLimit
          Priority: 1
          Action:
            Block: {}
          Statement:
            RateBasedStatement:
              Limit: 1000
              AggregateKeyType: IP
          VisibilityConfig:
            CloudWatchMetricsEnabled: true
            MetricName: RateLimitRule
            SampledRequestsEnabled: true

        # SQL Injection Protection
        - Name: AWSManagedRulesSQLiRuleSet
          Priority: 2
          OverrideAction: { None: {} }
          Statement:
            ManagedRuleGroupStatement:
              VendorName: AWS
              Name: AWSManagedRulesSQLiRuleSet
              RuleActionOverrides:
                - Name: SQLi_BODY  # TODO: Ignore on registration forms only?
                  ActionToUse:
                    Count: {}
          VisibilityConfig:
            CloudWatchMetricsEnabled: true
            MetricName: SQLiRules
            SampledRequestsEnabled: true

        # Cross-Site Scripting Protection
        - Name: AWSManagedRulesCommonRuleSet
          Priority: 3
          OverrideAction: { None: {} }
          Statement:
            ManagedRuleGroupStatement:
              VendorName: AWS
              Name: AWSManagedRulesCommonRuleSet
              RuleActionOverrides:
                - Name: SizeRestrictions_BODY  # Blocks requests over 8 KB, 403 Forbidden occurs with most profile pictures
                  ActionToUse:
                    Count: {}
          VisibilityConfig:
            MetricName: CommonRules
            CloudWatchMetricsEnabled: true
            SampledRequestsEnabled: true

  # WAF Logging Configuration
  # Name must start with 'aws-waf-logs-' https://docs.aws.amazon.com/waf/latest/developerguide/logging-cw-logs.html
  WafLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub 'aws-waf-logs-${StackNamePrefix}'
      RetentionInDays: 7

  WafLoggingConfiguration:
    Type: AWS::WAFv2::LoggingConfiguration
    Properties:
      ResourceArn: !GetAtt WebACL.Arn
      LogDestinationConfigs:
        - !GetAtt WafLogGroup.Arn
      LoggingFilter:  # Keep only blocked requests
        DefaultBehavior: DROP
        Filters:
          - Behavior: KEEP
            Requirement: MEETS_ANY
            Conditions:
              - ActionCondition:
                  Action: BLOCK

  WebACLAssociation:
    Type: AWS::WAFv2::WebACLAssociation
    Properties:
      ResourceArn: !GetAtt Alb.LoadBalancerArn
      WebACLArn: !GetAtt WebACL.Arn

  ###########################
  # Alarms and Notification #
  ###########################
  AlarmNotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${StackNamePrefix}-alarm"
      Subscription:
        - Endpoint: !Ref NotificationEmail
          Protocol: email

  LatencyAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub "${StackNamePrefix}-latency"
      AlarmDescription: "ALB Target Response Time greater than 500ms"
      Namespace: AWS/ApplicationELB
      MetricName: TargetResponseTime
      Dimensions:
        - Name: LoadBalancer
          Value: !GetAtt Alb.LoadBalancerFullName
      Statistic: Average
      Period: 60  # seconds
      EvaluationPeriods: 3  # minutes
      Threshold: 0.5  # seconds
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref AlarmNotificationTopic

  ErrorRateAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub "${StackNamePrefix}-errorrates"
      AlarmDescription: "Triggered if 5xx Error Rate greater than one percent"
      ComparisonOperator: GreaterThanThreshold
      EvaluationPeriods: 3
      DatapointsToAlarm: 3
      Threshold: 1  # percent
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref AlarmNotificationTopic
      Metrics:
        - Id: expression1
          Label: "5xx Error Rate"
          Expression: "100 * (metric5xx / metricRequests)"
          ReturnData: true
        - Id: metric5xx
          MetricStat:
            Metric:
              Namespace: AWS/ApplicationELB
              MetricName: HTTPCode_Target_5XX_Count
              Dimensions:
                - Name: LoadBalancer
                  Value: !GetAtt Alb.LoadBalancerFullName
            Period: 60  # seconds
            Stat: Sum
          ReturnData: false
        - Id: metricRequests
          MetricStat:
            Metric:
              Namespace: AWS/ApplicationELB
              MetricName: RequestCount
              Dimensions:
                - Name: LoadBalancer
                  Value: !GetAtt Alb.LoadBalancerFullName
            Period: 60  # seconds
            Stat: Sum
          ReturnData: false

  ######################################
  # ElastiCache Redis for user sessions #
  #######################################
  RedisSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Access Redis from App
      VpcId:
        Fn::ImportValue: !Sub '${StackNamePrefix}-VpcId'

  RedisSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: !Ref RedisSecurityGroup
      IpProtocol: tcp
      FromPort: 6379
      ToPort: 6379
      SourceSecurityGroupId: !Ref AppSecurityGroup

  RedisSubnetGroup:
    Type: AWS::ElastiCache::SubnetGroup
    Properties:
      Description: 'Redis SubnetGroup'
      SubnetIds:
        Fn::Split:
          - ','
          - Fn::ImportValue: !Sub '${StackNamePrefix}-AppSubnetIds'

  RedisCacheCluster:
    Type: AWS::ElastiCache::CacheCluster
    Properties:
      ClusterName: session-cache
      Engine: redis
      CacheNodeType: cache.t2.micro
      NumCacheNodes: 1
      VpcSecurityGroupIds:
        - !Ref RedisSecurityGroup
      CacheSubnetGroupName: !Ref RedisSubnetGroup
      Port: 6379

Outputs:
  ALBDNSName:
    Description: Public URL for the app
    Value: !GetAtt Alb.DNSName
    Export:
      Name: !Sub '${StackNamePrefix}-ALBDNSName'
  FrontendTargetGroupFullName:
    Value: !GetAtt FrontendTargetGroup.TargetGroupFullName
    Export:
      Name: !Sub '${StackNamePrefix}-FrontendTargetGroupFullName'
  ALBFullName:
    Value: !GetAtt Alb.LoadBalancerFullName
    Export:
      Name: !Sub '${StackNamePrefix}-ALBFullName'